header{
    padding: 10px;
    color: rgb(80, 163, 166);
    border-bottom-style: solid;
    border-color: lightgrey;
    margin-bottom: 10px;
}


.icon{
    padding: 10px;
}

/* .row{
    position: relative;
} */

.iconTitle{
    position: relative;
    text-align: center;
    top: 60%;

}

.greenbox{
    position: relative;
    text-align: center;
    bottom: 25%;
    background-color:rgb(80, 163, 166);
    padding: 2px;
}